li{
    display: inline;
}

h1{
    font-size: 30px;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ", sans-serif;
}

span{
    font-size: 30px;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ", sans-serif;
}
under1{
    border-bottom: solid 2px #b7046c;
}
.ttl-lower--sm {
    font-size: 40px;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ", sans-serif;
    text-align:center;
}
.chart {
    text-align:center;

    background:white;
}
.btn--orange {
    color: #fff;
    background-color: #b7046c;
    border-bottom: 10px solid #b7046c;
    width:300px;
    height:70px;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ", sans-serif;
  }
.btn--orange:hover {
    margin-top: 10px;
    color: #fff;
    background:#b7046c;
    border-bottom: 10px solid#b7046c;
  }
.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }
