<!--登録確認-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせフォーム</title>
<link rel="stylesheet" href="ContactConf.css">
<link th:href="@{/css/ContactConf.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <br><br><br><br><br><br><br><br>
     <div class ="parent">
        <p>
        <h1 style="text-align:center">お問い合わせありがとうございます。</h1>
        <h2 style="text-align:center">お問い合わせ番号:</h2><br>
        </p>
        <!--<a href="input.php">-->
        <p style="text-align:center"><button type="button" style="color:white;background-color:#b7046c;">戻る</button>
        </a>
    </div>
</div>
<script src="ContactConf.js"></script>
</body>
</html>