<!--お問い合わせ一覧-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0">    
<title>お問い合わせ一覧</title>   
<link th:href="@{/css/ContactList.css}" rel="stylesheet" type="text/css">

<body>
<div id="wrapper" class="wrapper lower contact">
	<main class="inner">
		<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
          <div class="fixed">
            <input id="list" type="button" class="btn btn--orange btn--cubic btn--shadow" value="入力フォーム">
            <input id="list" type="button" class="btn btn--orange btn--cubic btn--shadow" value="お問い合せ一覧">
          </div>
          <h1 class="ttl-lower--sm">
            お問い合わせ一覧<br>
          </h1>
          	<div class="chart">
          	<div style="position: relative;font-size: 13px;">
          	<div style="width: 550px;height: 250px;border: 1px solid#b7046c;padding: 20px 0 0 30px;margin: 0;">
          <span style="position:absolute; top:-5px; left:30px; background-color: #fff;line-height: 1em;">
            LIST
           </span>
          <!-- お問い合わせ種別 -->
          <div class= "contacttype" >
           <form action=”type”>
                お問い合わせ種別
                <select name=”お問い合わせ種別” size=”9″>
                <option value="000">選択してください</option>
              <!--  <option th:each="tcontact :${tcontactList}" th:objest="${tcontact}"
                th:value="*{contact value} th text="*{code_name}"
                </option>-->
                </select>
                </form><form action=”type”><br>
            <!--お問い合わせ内容-->
            <div style="text-align:center">
            <label for="contents">●お問い合わせ内容</label>
            <input id ="contents" type="text "name="names" ></div><br>
            <!--企業・団体・組織名-->
            <label for="company">●企業・団体・組織名</label>
            <input id ="company" type="text "name="names" ><br>
            <!-- お名前 -->
            <label for="name">●お名前</label>
            <input id ="name" type="text "name="names" >
          	</div>
          </div>
        </div>
       </div>
    <p style="text-align:center"><button type="button" style="color:white;background-color:#b7046c;">検索</button>
      </div>
     </div>
    </div>
</main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script type="text/javascript" src="/javascript/ContactList.js"></script>
</body>
</head>
</html>